
{% extends "testtool/main/base_subject.html" %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block content %}
    <form id="form" action="{% url tally test_instance_id=test_instance.pk %}" method="post" data-ajax="false">
        {% csrf_token %}
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup"> 
                {% block voting_control %}
                {% endblock voting_control %}
            </fieldset>
        </div>
        <span style="float:right">
            <button type="submit" data-theme="b" value="Submit" data-inline="true" data-icon="check">Submit</button>
        </span>
        <input type="hidden" name="current_count" value="{{ test_instance.counter }}" />
    </form>
    {% if error_message %}<p style="color:red;font-weight:bold;font-size:1.1em">{{ error_message }}</p>{% endif %}
{% endblock content %}
