{% extends "testtool/registration/base_subject_register.html" %}

{% block page_id %}id="SSCQE"{% endblock page_id %}

{% block head %}
    <script type="text/javascript">
        function transmitScore() {
            $.post("{% url 'tally' test_instance_id=test_instance.pk %}", $("#form_SSCQE").serialize(), function(data) {
                if (data.status=="1") {
                    window.location = "{% url 'status' test_instance_id=test_instance.pk %}";
                } else if (data.status=="3") {
                    window.location = "{% url 'tally' test_instance_id=test_instance.pk %}";
                } //else {
                //    $( "#message" ).empty().append(data.message);
                //}
            }, "json");
        }
        $("#SSCQE").on("pageinit",transmitScore());
        $("#SSCQE").on("pageinit",setInterval("transmitScore()", 500));
    </script>
{% endblock head %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block content %}
    <form id="form_SSCQE" action="{% url 'tally' test_instance_id=test_instance.pk %}" method="post" data-ajax="false">
        {% csrf_token %}
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup"> 
                <label for="score_slider">Rate the quality:</label>
                <input type="range" name="value" id="score_slider" value="3" min="1" max="5" step=".04"/>
            </fieldset>
        </div>
        <input type="hidden" name="current_count" value="{{ test_instance.counter }}" />
    </form>
    <p><div id="message"></div></p>
    {% if error_message %}<p style="color:red;font-weight:bold;font-size:1.1em">{{ error_message }}</p>{% endif %}
{% endblock content %}
