
{% extends "manager/base_manager.html" %}

{% block header %}
    Create test instance page
{% endblock header %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        
        <span style="color:red;font-weight:bold;font-size:1.1em">
        {{ tif.non_field_errors }}
        {% for field in tif %}
            {% if field.errors %}{{ field.label }}:{{ field.errors }}{% endif %}
        {% endfor %}
        </span>
        
        <div data-role="fieldcontain">
            {% for field in tif %}
                <p><label for="id_{{ field.html_name }}">{{ field.label }}: </label>{{ field }}</p>
            {% endfor %}
        </div>
        <input type="submit" value="Add" />
    </form>
{% endblock content %}

