
{% extends "manager/base_manager.html" %}

{% block header %}
    Display test instance page
{% endblock header %}

{% block content %}
    <div data-role="fieldcontain">
        <p><label for="id_create_time">Create time: </label> {{ create_time }}</p>
        {% for field in tif %}
            <p><label for="id_{{ field.html_name }}">{{ field.label }}: </label>{{ field.value }}</p>
        {% endfor %}
    </div>
    <a href="{% url manager.views.display_test test_id=test_id %}">Parent Test</a>
    <a href="{% url manager.views.start_test test_id=test_id test_instance_id=test_instance_id %}">Start Test</a>
{% endblock content %}
