
{% extends "manager/base_manager.html" %}

{% block header %}
    Share test page
{% endblock header %}

{% block content %}
    <p> Choose Test: </p>
    {% for t in t_own %}
        {{ t }}
    {% endfor %}
    <br/>
    {% for t_ti in t_own_ti %}
        {{ t_ti }}
    {% endfor %}
    
    <p> Choose Test Instance: </p>
    {% for ti in ti_own %}
        {{ ti }}
    {% endfor %}
    <br/>
    {% for ti_t in ti_own_t %}
        {{ ti_t }}
    {% endfor %}
    
    <p> Share with: (checkbox)</p>
    
    {% if test_id %}
        <p> Selected Test: {{ test_id }} </p>
    {% endif %}
    {% if test_instance_id %}
        <p> Selected Test Instance: {{ test_instance_id }} </p>
    {% endif %}    
    
    <form id="form" action="{% url manager.views.share_test %}" method="post">
        {% csrf_token %}
        <input type="submit" name="share" value="Share" />
    </form>
{% endblock content %}

