{% extends "base_subject.html" %}

{% block header %}
    {% if latest_test_instances %}
        Please select a subjective test to enroll.
    {% else %}
        You are enrolled to all available subjective tests.
    {% endif %}    
{% endblock header %}

{% block content %}
    {% if latest_test_instances %}
        <ul data-role="listview" data-theme="g">
        {% for test_instance in latest_test_instances %}
            <li><a href="{% url testtool.main.views.enroll_to_test_instance test_instance_id=test_instance.id %}">{{test_instance.id}} : {{test_instance.owner.user.username}} : {{ test_instance.test.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}