{% extends "testtool/registration/base_subject_register.html" %}

{% block controls %}
    <a href="{% url 'logout' %}" data-icon="delete" class="ui-btn-right" data-ajax="false" id="logout_btn">Logout</a>
{% endblock controls %}

{% block header %}
    {% if ti_list %}
        Enrolled Subjective Tests
    {% else %}
        No subjective tests are available.
    {% endif %}    
{% endblock header %}

{% block content %}
    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup"> 
            {% for ti in ti_list %}
                <li><a href="{% url 'tally' test_instance_id=ti.pk %}" data-role="button" data-ajax="false">Begin test {{ ti.id }}</a></li>
            {% endfor %}
        </fieldset>
    </div>
{% endblock content %}