{% extends "testtool/main/base_subject.html" %}

{% block page_id %}id="status"{% endblock page_id %}

{% block head %}
    <script type="text/javascript">
        function clearError() {
            $( "#error" ).empty();
        }
        function updateStatus() {
            $.getJSON("{% url testtool.main.views.status test_instance_id=test_instance.pk %}", function(data) {
                if(data.status=="4") {
                    window.location = "/{{ test_instance.pk }}/tally";
                } else {
                    $( "#header" ).empty().append(data.header);
                    $( "#message" ).empty().append(data.message);
                }
            });
        }
        $("#status").on("pageinit",updateStatus());
        $("#status").on("pageinit",setInterval("updateStatus()", 1000));
        $("#status").on("pageinit",setTimeout("clearError()",3000));
    </script>
{% endblock head %}

{% block header %}
    <div id="header"></div>
{% endblock header %}

{% block content %}
    <div id="error">
        {% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}
    </div>
    <p><div id="message"></div></p>
{% endblock content %}  