{% extends "testtool/registration/base_subject_register.html" %}

{% block controls %}
    <a href="{% url home %}" data-icon="home" class="ui-btn-left" id="home_btn">Home</a>
    <a href="{% url logout %}" data-icon="delete" class="ui-btn-right" data-ajax="false" id="logout_btn">Logout</a>
{% endblock controls %}

{% block page_id %}id="status"{% endblock page_id %}

{% block head %}
    <script type="text/javascript">
        function clearError() {
            $( "#error" ).empty();
        }
        function updateStatus() {
            $.getJSON("{% url status test_instance_id=test_instance.pk %}", function(data) {
                if(data.status=="4") {
                    window.location = "{% url tally test_instance_id=test_instance.pk %}";
                } else {
                    $( "#header" ).empty().append(data.header);
                    $( "#message" ).empty().append(data.message);
                    if(data.status!="3") {
                        document.getElementById("home_btn").style.visibility="hidden";
                        document.getElementById("logout_btn").style.visibility="hidden";
                    }
                }
            });
        }
        $("#status").on("pageinit",updateStatus());
        $("#status").on("pageinit",setInterval("updateStatus()", 1000));
        $("#status").on("pageinit",setTimeout("clearError()",3000));
    </script>
{% endblock head %}

{% block header %}
    <div id="header"></div>
{% endblock header %}

{% block content %}
    <div id="error">
        {% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}
    </div>
    <p><div id="message"></div></p>
{% endblock content %}