{% load staticfiles %}

{% load manager_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Default title{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .profile-hover:hover .dropdown-menu{
                display: block;    
            }
            .info {
                padding: 3px 15px;
                margin: 0px;
            }
        </style>
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" >
        <link type="text/css" href="{% static 'css/tally.css' %}" rel="stylesheet" >
        
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>

        <link rel="shortcut icon" href="{% static 'bootstrap/ico/favicon.ico' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'bootstrap/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'bootstrap/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'bootstrap/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'bootstrap/ico/apple-touch-icon-57-precomposed.png' %}">        
        {% block head %}
        {% endblock head %}
    </head>
    
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Tally</a>
                    <div class="btn-group pull-right profile-hover">
                        <button class="btn dropdown-toggle">
                            <i class="icon-user"></i> {{ request.user.username }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="info">{{ request.user.first_name }} {{ request.user.last_name }}</li>
                            <li class="info">{{ request.user.email }}</li>
                            <li class="divider"></li>
                            <li><a href="{% url profile %}"><i class="icon-th-list"></i> Profile</a></li>
                            <li><a href="{% url logout %}"><i class="icon-off"></i> Sign Out</a></li>
                        </ul>
                    </div>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li class="{% active request 'home' %}"><a href="{% url home %}">Home</a></li>
                            <li class="{% active request 'about' %}"><a href="{% url about %}">About</a></li>
                            <li class="{% active request 'help' %}"><a href="{% url help %}">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
            	<div class="span3">
                    	<ul class="well nav nav-list tally-sidenav">
                        	<li class="nav-header">Tests</li>
                        	<li class="{% active request 'list_tests' %}"><a href="{% url list_tests %}"><i class="icon-list"></i> My Tests</a></li>
                        	<li class="{% active request 'create_test' %}"><a href="{% url create_test %}"><i class="icon-file"></i> Create New Test</a></li>
                        	<li class="nav-header">Tools</li>
                        	<li class="{% active request 'log_book' %}"><a href="{% url log_book %}"><i class="icon-book"></i> Log Book</a></li>
                    	</ul>
                </div>
                <div class="span9">
                    <h1>{% block header %}Default header{% endblock header %}</h1>
                    <br/><br/>
					{% if alert %}
					<div class="alert alert-{{ alert_class }} alert-block">
						<a class="close" data-dismiss="alert" href="#">&times</a>
						<h4>{{ alert }}</h4>
						</div>
					{% endif %}
                    {% if error %}
					<div class="alert alert-error alert-block">
						<a class="close" data-dismiss="alert" href="#">&times</a>
						<h4>{{ error }}</h4>
					</div>
					{% else %}
                    	{% block content %}
      	        	    <p>Default content</p>
                    	{% endblock content %}
                    {% endif %}
                    {% block buttons %}
                    {% endblock buttons  %}
                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; UCSD - Video Processing Lab 2012</p>
            </footer>
        </div>
		
        <script src="{% static 'bootstrap/js/bootstrap-transition.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-alert.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-modal.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-dropdown.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-scrollspy.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-tab.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-tooltip.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-popover.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-button.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-collapse.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-carousel.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-typeahead.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-affix.js' %}"></script>
        <script src="{% static 'js/tally.js' %}"></script>
    </body>
</html>
