{% extends "testtool/manager/base_manager.html" %}

{% block head %}
<style>
    ul {
        list-style: none;
    }
</style>
<script type="text/javascript">
    $().ready(function() {
        $('#add_btn').click(function() {
            return !$('#id_available option:selected').remove().appendTo('#id_to_enroll').removeAttr("selected");
        });
        $('#remove_btn').click(function() {
            return !$('#id_to_enroll option:selected').remove().appendTo('#id_available').removeAttr("selected");
        });
        $('form').submit(function() {
            $('#id_to_enroll option').each(function(i) {
                $(this).attr("selected", "selected");
            });
        });
    });
</script>
{% endblock head %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block content %}
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <span style="color:red;font-weight:bold;font-size:1.1em">
    {{ form.non_field_errors }}
    </span>
    {% for field in form %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
                {% if field.html_name == to_enroll %}
                <select {% if field.field.widget.attrs.readonly %}readonly="True"{% endif %} multiple="multiple" name="{{ field.html_name }}" id="id_to_enroll">
                    {% for e in enrolled %}
                    <option value="{{ e.pk }}">{{ e.user.username }}</option>
                    {% endfor %}
                </select>
                <button {% if field.field.widget.attrs.readonly %}disabled{% endif %} class="btn btn-small btn-danger" type="button" id="remove_btn">Remove</button>
                {% else %} 
                    {{ field }}
                    {% if field.html_name == "available" %}
                        <button {% if field.field.widget.attrs.readonly %}disabled{% endif %} class="btn btn-small btn-success" type="button" id="add_btn">Add</button>
                    {% endif %}
                {% endif %}
                {% if field.errors %}
                <ul class="help-inline">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="form-actions">
        <a class="btn" href="{{ cancel_url }}">Cancel</a>
        <input type="submit" class="btn btn-primary" value="{{ submit_value }}"/>
    </div>
</form>
{% endblock content %}
