{% extends "testtool/manager/base_manager.html" %}

{% block head %}
    <style>
        .form-container form {
            display: inline;
        }
    </style>
{% endblock head %}

{% block header %}
    Test Instance {{ test_instance_id }} of Test {{ test_id }}
{% endblock header %}

{% block content %}
    {% if error %}
        {{ error }}
    {% else %}
        {% if alert == 'new' %}
            <div class="alert alert-success alert-block">
                <a class="close" data-dismiss="alert" href="#">&times</a>
                Test instance successfully created.
            </div>
        {% elif alert == 'share' %}
            <div class="alert alert-success alert-block">
                <a class="close" data-dismiss="alert" href="#">&times</a>
                New collaborators successfully added.
            </div>
        {% endif %}
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="id_create_time">{{ create_time_name }}</label>
                <div class="controls"><span class="uneditable-input">{{ create_time }}</span></div>
            </div>
            {% for field in tif %}
                <div class="control-group">
                    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls"><span class="uneditable-input">{{ field.value }}</span></div>
                </div>
            {% endfor %}
        </div>
        <div class="form-actions form-container">
            <a class="btn" href="{% url testtool.manager.views.display_test test_id=test_id %}">Parent Test</a>
            {% if can_share %}
                <form action="{% url testtool.manager.views.share_test %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="test_id" value="{{ test_id }}" />
                    <input type="hidden" name="test_instance_id" value="{{ test_instance_id }}" />
                    <input type="submit" class="btn btn-info" value="Share" />
                </form>
            {% endif %}
            {% if already_run and can_export %}
                <form action="{% url testtool.manager.views.export_data %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="test_id" value="{{ test_id }}" />
                    <input type="hidden" name="test_instance_id" value="{{ test_instance_id }}" />
                    <input type="submit" class="btn btn-primary" value="Export Data" />
                </form>
            {% elif can_run %}
                <a class="btn btn-success" href="{% url testtool.manager.views.start_test test_id=test_id test_instance_id=test_instance_id %}">Start Test</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
