{% extends "testtool/manager/base_manager.html" %}

{% block head %}
<style>
    .form-container form {
        display: inline;
    }
</style>
{% endblock head %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block content %}
        <div class="form-horizontal">
            {% for field in form %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <label class="control-label" for="id_rand">Play order</label>
                <div class="controls">
                    <input readonly="True" type="text" name="rand" value="{{ rand }}" id="id_rand" />
                </div>
            </div>
            <div class="form-actions form-container">
                <a class="btn" href="{% url display_test test_id=test_id %}">Parent Test</a>
                {% if can_share %}
                    <form action="{% url share_test %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="test_id" value="{{ test_id }}" />
                        <input type="hidden" name="test_instance_id" value="{{ test_instance_id }}" />
                        <input type="submit" class="btn btn-info" value="Share" />
                    </form>
                {% endif %}
                {% if can_export %}
                    <form action="{% url export_data %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="test_id" value="{{ test_id }}" />
                        <input type="hidden" name="test_instance_id" value="{{ test_instance_id }}" />
                        <input type="submit" class="btn btn-primary" value="Export Data" />
                    </form>
                {% endif %}
                {% if can_edit %}
                    <a class="btn btn-primary" href="{% url edit_test_instance test_id=test_id test_instance_id=test_instance_id %}">Edit</a>
                {% endif %}
                {% if can_delete or can_unshare %}
                    <a href="#deleteModal" role="button" class="btn btn-danger" data-toggle="modal">{% if can_delete %}Delete{% else %}Stop collaborating{% endif %}</a>
                    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" data-backdrop="static" keyboard="false">
                        <div class="modal-header">
                            <h3>{% if can_delete %}Delete{% else %}Stop collaborating on{% endif %} this test instance?</h3>
                        </div>
                        <div class="modal-body">
                            <p>{% if can_delete %}This cannot be undone and all related data will also be removed.{% else %}You will no longer have access to this test instance.{% endif %}</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal">Cancel</button>
                            <form action="{% if can_delete %}{% url delete_test_instance test_id=test_id test_instance_id=test_instance_id %}{% else %}{% url unshare_test_instance test_id=test_id test_instance_id=test_instance_id %}{% endif %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Yes, {% if can_delete %}delete{% else %}stop collaborating{% endif %}" />
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% if can_run %}
                    <a class="btn btn-success" href="{% url run_test_instance test_id=test_id test_instance_id=test_instance_id %}">Start Test</a>
                {% endif %}
            </div>
        </div>
{% endblock content %}
