{% extends "testtool/manager/base_manager.html" %}

{% block head %}
{% if not error %}
<script type="text/javascript">
    function postDeleteFile(url, file_id) {
        $.post(url, {csrfmiddlewaretoken: "{{ csrf_token }}"}, function(data) {
            if (data.status=="0") {
                $("#row_del_file_"+file_id).fadeOut(300, function() {
                    $("#row_del_file_"+file_id).hide();
                });
            } else {
                alert("Error: "+data.message);
            }
        },"json");
    }
    function postAddFile(url, file_id, str) {
        $.post(url, {csrfmiddlewaretoken: "{{ csrf_token }}", filename: str}, function(data) {
            if (data.status=="0") {
                $("#btn_add_file_"+file_id).hide();
            } else {
                alert("Error: "+data.message);
                $("#row_add_file_"+file_id).fadeOut(300, function() {
                    $("#row_add_file_"+file_id).hide();
                });
            }
        },"json");
    }
    function postDeleteTestCase(url, tc_id) {
        $.post(url, {csrfmiddlewaretoken: "{{ csrf_token }}"}, function(data) {
            if (data.status=="0") {
                $("#row_del_tc_"+tc_id).fadeOut(300, function() {
                    $("#row_del_tc_"+tc_id).hide();
                });
            } else {
                alert("Error: "+data.message);
            }
        },"json");
    }
    function handleFileSelect(evt) {
        var files = evt.target.files;
        var show = [];
        var form = [];
        var   js = [];
        show.push('<table class="table table-striped table-condensed table-bordered">')
        for (var i = 0, f; f = files[i]; i++) {
            show.push('<tr id="row_add_file_',i,'"><td align="left" width="100%">', escape(f.name), '</td>',
                      '<td align="right"><button class="btn btn-mini btn-success" id="btn_add_file_',i,'"><i class="icon-upload"></i></button></td></tr>');
            js.push('$("#btn_add_file_',i,'").click(function() { postAddFile("{% url 'add_video' test_id %}",',i,',"',escape(f.name),'") });\n');
        }
        show.push('</table>')
        $("#files_show").html(show.join(''));
        $("#btn_add_scripts").html(js.join(''));
        $("#file_select_btn").hide();
    }
    $(document).ready(function(){
        $("#file_select").on('change',handleFileSelect);
    });
    
</script>

<style>
    ul {
        list-style: none;
    }
</style>
{% endif %}
{% endblock head %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block content %}
<form class="form-horizontal" id="test_edit_form" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <span style="color:red;font-weight:bold;font-size:1.1em">
	{{ form.non_field_errors }}
	</span>
    {% for field in form %}
    	<div class="control-group{% if field.errors %} error{% endif %}">
	    	<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
	    	<div class="controls">
	    		{{ field }}
                {% if field.errors %}
                	<ul class="help-inline">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
	                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
		</div>
	{% endfor %}
</form>
<div class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="files_show">Existing Files</label>
		<div class="controls">
			<div class="span5">
				<table class="table table-striped table-condensed table-bordered">
                {% if files %}
					{% for file in files %}
					<tr id="row_del_file_{{ file.pk }}">
    	    			<td align="left" width="100%">{{ file.filename }}</td>
    	    			{% if allow_modify %}
	    				<td align="right"><button class="btn btn-mini btn-danger" id="btn_del_file_{{ file.pk }}"><i class="icon-remove"></i></button></td>
	    				{% endif %}
    				</tr>
					{% endfor %}
				{% else %}
				    <tr><td>There are no existing files</td></tr>
                {% endif %}
				</table>
			</div>
		</div>
	</div>
	{% if allow_modify %}
	<div class="control-group">  
		<label class="control-label" for="file_select">Add New Files</label>
    	<div class="controls">
        	<input class="input-file" id="file_select" type="file" multiple=""> <!-- style="display:none">
            <a class="btn" id="file_select_btn" onclick="$('#file_select').click();">Browse</a> --> <!-- commented since QWebView does not work with this -->
        </div>
        <div class="controls">
        	<div class="span5" id="files_show">
			</div>
        </div>
    </div>
    {% endif %}
    {% if files %}
	<div class="control-group">
		<label class="control-label" for="id_test_cases">Test Cases</label>
		<div class="controls">
			<div class="accordion span5" id="id_test_cases">
    		{% for tc in tc_data %}
    			<div class="accordion-group" id="row_del_tc_{{ tc.0.pk }}">
        			<div class="accordion-heading">
    					<table width="95%" align="center">
    						<tr>
								<td width="10%">{{ tc.0.repeat }} x</td>
								<td align="left" width="90%"><a class="accordion-toggle" data-toggle="collapse" data-parent="#id_test_cases" href="#collapse{{ forloop.counter }}">Test Case #{{ forloop.counter }}: {{ tc.0.pk }}</a></td>
								{% if allow_modify %}
								<td align="right"><button class="btn btn-mini btn-danger" id="btn_del_tc_{{ tc.0.pk }}"><i class="icon-remove"></i></button></td>
								{% endif %}
							</tr>
						</table>
        			</div>
        			<div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
            			<div class="accordion-inner">
                			{% for vid in tc.1 %}
                    			{{ forloop.counter }}. {{ vid.0 }}{% if vid.1 %}<span style="color:red"> [ref]</span>{% endif %}<br/>
                			{% endfor %}
            			</div>
    				</div>
    			</div>
    		{% endfor %}
    		    {% if allow_modify %}
    			<div class="accordion-group">
        			<div class="accordion-heading">
            			<a class="accordion-toggle" href={% url 'add_test_case' test_id %}>Add new test case</a>
        			</div>
    			</div>
    			{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
    <div class="form-actions">
        <a class="btn" href="{% url 'display_test' test_id=test_id %}">Cancel</a>
	    <input type="button" class="btn btn-info" id="update_button" value="Update">
        <input type="button" class="btn btn-primary" id="save_button" value="Save">
    </div>
</div>

<script type="text/javascript">
$("#update_button").click(function() { $("#test_edit_form").submit(); });
</script>
<script type="text/javascript">
$("#save_button").click(function() {
    $('#test_edit_form').append('<input type="hidden" name="save" value="save">');    
    $("#test_edit_form").submit(); 
    });
</script>
{% if allow_modify %}
<script type="text/javascript">
{% for file in files %}
$("#btn_del_file_{{ file.pk }}").click(function() { postDeleteFile("{% url 'delete_video' file.pk %}", {{ file.pk }}); });
{% endfor %}
</script>
<script type="text/javascript">
{% for tc in tc_data %}
$("#btn_del_tc_{{ tc.0.pk }}").click(function() { postDeleteTestCase("{% url 'delete_test_case' tc.0.pk %}", {{ tc.0.pk }}); });
{% endfor %}
</script>
<script type="text/javascript" id="btn_add_scripts"></script>
{% endif %}
{% endblock content %}