
{% extends "testtool/manager/base_manager.html" %}

{% block head %}
    <style>
        .row-click { cursor: pointer }
    </style>
{% endblock head %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block content %}
    {% if error %}
        {{ error }}
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>My Status</th>
                    <th>Run Status</th>
                    <th># of Subjects</th>
                </tr>
            </thead>
            <tbody>
                {% for ti in ti_data %}
                    <tr class="row-click" onclick="document.location.href='{% url testtool.manager.views.display_test_instance test_id=test_id test_instance_id=ti.0 %}'">
                    {% for el in ti %}
                        <td>{{ el }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="form-horizontal">
        <div class="form-actions">
            <a class="btn" href="{% url testtool.manager.views.list_tests %}">View Test List</a>
            <a class="btn" href="{% url testtool.manager.views.display_test test_id=test_id %}">View Parent Test</a>
            <a class="btn btn-primary" href="{% url testtool.manager.views.create_test_instance test_id=test_id %}">Create New Instance</a>
        </div>
    </div>
{% endblock content %}
