
{% extends "testtool/manager/base_manager.html" %}

{% block head %}
    <style>
        .row-click { cursor: pointer }
    </style>
{% endblock head %}

{% block header %}
    Tests
{% endblock header %}

{% block content %} 
    {% if tests|length == 0 %}
        You do not own or have access to any tests.  Create one <a href="{% url testtool.manager.views.create_test %}">here</a>.
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Your Status</th>
                    <th>Create Time</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tests %}
                    <tr class="row-click" onclick="document.location.href = '{% url testtool.manager.views.display_test test_id=t.pk %}'">
                        <td>{{ t.title }}</td>
                        <td>
                            {% if t.owner == request.user.userprofile %}
                                Owner
                            {% elif request.user.userprofile in t.collaborator.all %}
                                Collaborator
                            {% else %}
                                Collaborator (Test Instance)
                            {% endif %}
                        </td>
                        <td>{{ t.create_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
