{% extends "base_subject.html" %}

{% load url from future %}

{% block header %}
    {% if latest_test_instances %}
        Enrolled Subjective Tests
    {% else %}
        No subjective tests are available.
    {% endif %}    
{% endblock header %}

{% block content %}
    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup"> 
            <ul data-role="listview" data-theme="g">
                {% for test_instance in latest_test_instances %}
                    <li><a href="/{{ test_instance.id }}/tally/" data-ajax="false">{{test_instance.id}} : {{test_instance.owner.user.username}} : {{ test_instance.test.title }}</a></li>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
    <a href="{% url 'GenericTest.views.enroll' %}" data-role="button" data-ajax="false">Enroll in other subjective tests</a> 
{% endblock content %}