{% extends "base_subject.html" %}

{% block page_id %}id="status"{% endblock page_id %}

{% block head %}
    <script type="text/javascript">
        function clearError() {
            $( "#error" ).empty();
        }
        function updateStatus() {
            $.getJSON("/{{ test_instance.pk }}/status", function(data) {
                if(data.status=='4') 
                {
                    window.location.replace("/{{ test_instance.pk }}/tally");
                }
                else {
                    $( "#header" ).empty().append(data.header);
                    $( "#message" ).empty().append(data.message);
                }
            });
        }
        $("#status").bind("pageinit",updateStatus());
        $("#status").bind("pageinit",function(){
            var refreshId = setInterval("updateStatus()", 1000);
        });
        $("#status").bind("pageinit",setTimeout("clearError()",3000));
    </script>
{% endblock head %}

{% block header %}
    <div id="header"></div>
{% endblock header %}

{% block content %}
    <div id="error">
    {% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}
    </div>
    <p><div id="message"></div></p>
{% endblock content %}  