{% extends "base_registration.html" %}

{% load url from future %}

{% block header %}
    {% if form.errors %}
        Your username and password didn't match. Please try again.
    {% else %}
        Please login to the test system
    {% endif %}
{% endblock header %}

{% block content %}

    <form action="{% url 'registration.views.custom_login' %}" method="post">
        {% csrf_token %}
        <div data-role="fieldcontain">
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" data-theme="b" value="Login" />
    </form>
    <a href="{% url 'registration.views.register' %}" data-role="button" data-theme="e">Register</a> 
    
{% endblock %}
