{% extends "base_registration.html" %}

{% block header %}
    Please register to the test system
{% endblock header %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        
        <span style="color:red;font-weight:bold;font-size:1.1em">
        {{ rform.non_field_errors }}
        {{ pform.non_field_errors }}
        {% for field in rform %}
            {% if field.errors %}{{ field.label }}:{{ field.errors }}{% endif %}
        {% endfor %}
        {% for field in pform %}
            {% if field.errors %}{{ field.label }}:{{ field.errors }}{% endif %}
        {% endfor %}
        </span>
        
		<div data-role="fieldcontain">
            <label for="id_username">{{ rform.username.label }}: </label>
            {{ rform.username }}

            <label for="id_first_name">{{ rform.first_name.label }}: </label>
            {{ rform.first_name }}

            <label for="id_last_name">{{ rform.last_name.label }}: </label>
            {{ rform.last_name }}

            <label for="id_age">{{ pform.age.label }}: </label>
            {{ pform.age }}

            <label for="id_sex">{{ pform.sex.label }}: </label>
            {{ pform.sex }}

            <label for="id_email">{{ rform.email.label }}: </label>
            {{ rform.email }}

            <label for="id_password1">{{ rform.password1.label }}: </label>
            {{ rform.password1 }}

            <label for="id_password2">{{ rform.password2.label }}: </label>
            {{ rform.password2 }}
        </div>
        <input type="submit" data-theme="e" value="Register" />
    </form>
{% endblock %}