{% block content %}
    <h1>Please register to the test system</h1>
 
    <form action="" method="post">
        {% csrf_token %}
		<div>
            {{ form.username.errors }}
            <label for="id_username">Username: </label>
            {{ form.username }}
        </div>
        <div>
            {{ form.first_name.errors }}
            <label for="id_first_name">First name: </label>
            {{ form.first_name }}
        </div>
        <div>
            {{ form.last_name.errors }}
            <label for="id_last_name">Last name: </label>
            {{ form.last_name }}
        </div>
        <div>
            {{ form.email.errors }}
            <label for="id_email">E-Mail: </label>
            {{ form.email }}
        </div>
        <div>
            {{ form.password1.errors }}
            <label for="id_password1">Password: </label>
            {{ form.password1 }}
        </div>
        <div>
            {{ form.password2.errors }}
            <label for="id_password2">Repeat password: </label>
            {{ form.password2 }}
        </div>
        <input type="submit" value="Register" />
    </form>
{% endblock %}