{% block content %}
    <h1>Please register to the test system</h1>
 
    <form action="" method="post">
        {% csrf_token %}
		<div>
            {{ rform.username.errors }}
            <label for="id_username">Username: </label>
            {{ rform.username }}
        </div>
        <div>
            {{ rform.first_name.errors }}
            <label for="id_first_name">First name: </label>
            {{ rform.first_name }}
        </div>
        <div>
            {{ rform.last_name.errors }}
            <label for="id_last_name">Last name: </label>
            {{ rform.last_name }}
        </div>
        <div>
            {{ pform.age.errors }}
            <label for="id_age">Age: </label>
            {{ pform.age }}
        </div>
        <div>
            {{ pform.sex.errors }}
            <label for="id_sex">Sex: </label>
            {{ pform.sex }}
        </div>
        <div>
            {{ rform.email.errors }}
            <label for="id_email">E-Mail: </label>
            {{ rform.email }}
        </div>
        <div>
            {{ rform.password1.errors }}
            <label for="id_password1">Password: </label>
            {{ rform.password1 }}
        </div>
        <div>
            {{ rform.password2.errors }}
            <label for="id_password2">Repeat password: </label>
            {{ rform.password2 }}
        </div>
        <input type="submit" value="Register" />
    </form>
{% endblock %}