
{% extends "GenericTest/manager/base_export_share.html" %}

{% block header %}
    Export Data
{% endblock header %}

{% block form_action %} 
    {% url GenericTest.manager.views.save_data %}
{% endblock form_action %}

{% block test_attr %}
    onchange="update_ti_select()"
{% endblock test_attr %}

{% block form_additional_post %} 
    <div class="control-group">
        <label class="control-label" for="formatOptions">Format</label>
        <div class="controls" id="formatOptions">
            <label class="checkbox">
                Test report (PDF)
                <input type="checkbox" name="report" value="report" checked disabled>
            </label>
            <label class="checkbox">
                CSV (Excel)
                <input type="checkbox" name="formatCSV" value="csv">
            </label>
            <label class="checkbox">
                MATLAB
                <input type="checkbox" name="formatMATLAB" value="matlab">
            </label>
            <label class="checkbox">
                Python
                <input type="checkbox" name="formatPYTHON" value="python">
            </label>
        </div>
    </div>
{% endblock form_additional_post %}

{% block form_control %}
    <input type="submit" class="btn btn-primary" value="Export" />
{% endblock form_control %}
