
{% extends "manager/base_export_share.html" %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        function select_type(){
            var t = document.getElementById("radio_test_id").checked;
            var ti = document.getElementById("radio_test_instance_id").checked;
            var form = document.getElementById("form_id");
            document.form.test_select.options.length = 0;
            if (t && !ti) {
                document.getElementById("test_instance_select_id").disabled = true;
                {% for t in t_own %}
                    form.test_select.options[{{ forloop.counter0 }}] = new Option('{{ t.title }}','{{ t.pk }}');
                {% endfor %}
                update_share_select(true);
            } else if (!t && ti) {
                document.getElementById("test_instance_select_id").disabled = false;
                {% for t in t_valid %}
                    form.test_select.options[{{ forloop.counter0 }}] = new Option('{{ t.title }}','{{ t.pk }}');
                {% endfor %}
                update_ti_select();
                update_share_select(false);
            }
        }
        function update_share_select(test_mode){
            var form = document.getElementById("form_id");
            var ii = document.form.test_select.selectedIndex;
            if (test_mode) {
                // test mode
                document.form.tester_select.options.length = 0;
                {% for t_list in share_test_with %}
                    if (ii=={{ forloop.counter0 }}) { 
                        {% for u in t_list %}
                            form.tester_select.options[{{ forloop.counter0 }}] = new Option('{{ u.first_name }} {{ u.last_name }} ({{ u.username }})','{{ u.userprofile.pk }}');
                        {% endfor %}
                    }
                {% endfor %}
            } else {
                // test instance mode
                var jj = document.form.test_instance_select.selectedIndex;
                document.form.tester_select.options.length = 0;
                {% for t_list in share_test_instance_with %}
                    if (ii=={{ forloop.counter0 }}) { 
                        {% for ti_list in t_list %}
                            if (jj=={{ forloop.counter0 }}) {
                                {% for u in ti_list %}
                                    form.tester_select.options[{{ forloop.counter0 }}] = new Option('{{ u.username }} ({{ u.first_name }} {{ u.last_name }})','{{ u.userprofile.pk }}');
                                {% endfor %}
                            }
                        {% endfor %}
                    }
                {% endfor %}
            }
        }
        function test_action(){
            var t = document.getElementById("radio_test_id").checked;
            var ti = document.getElementById("radio_test_instance_id").checked;
            if (t && !ti) {
                update_share_select(true);
            } else if (!t && ti) {
                update_ti_select();
                update_share_select(false);
            }
        }
    </script>
{% endblock head %}

{% block header %}
    Share Tests and Test Instances
{% endblock header %}

{% block form_action %} 
    {% url manager.views.share_test_submit %}
{% endblock form_action %}

{% block test_attr %}
    onchange="test_action()"
{% endblock test_attr %}

{% block test_instance_attr %}
    onchange="update_share_select(false)"{% if radio_default == 0 %}disabled{% endif %}
{% endblock test_instance_attr %}

{% block form_additional_pre %}
    <div class="control-group">
        <label class="control-label" for="shareRadio">Type</label>
        <div class="controls" id="shareRadio">
            <label class="radio">
                Test
                <input type="radio" name="radio_share" id="radio_test_id" value="share_test" onclick="select_type()"{% if radio_default == 0 %}checked{% endif %} />
            </label>
            <label class="radio">
                Test Instance
                <input type="radio" name="radio_share" id="radio_test_instance_id" value="share_test_instance" onclick="select_type()"{% if radio_default == 1 %}checked{% endif %} /> 
            </label>
        </div>
    </div>
{% endblock form_additional_pre %}

{% block form_additional_post %} 
    <div class="control-group">
        <label class="control-label" for="share_with">Share with</label>
        <div class="controls" id="share_with">
            <select multiple="multiple" name="tester_select">
                {% if radio_default == 0 %}
                    {% for t_list in share_test_with %}
                        {% if forloop.counter0 == t_valid_index_default %}
                            {% for u in t_list %}
                                <option value="{{ u.userprofile.pk }}"{% if forloop.counter0 == ti_valid_index_default %}selected{% endif %}>{{ u.first_name }} {{ u.last_name }} ({{ u.username }})</option>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% elif radio_default == 1 %}
                    {% for t_list in share_test_instance_with %}
                        {% if forloop.counter0 == t_valid_index_default %}
                            {% for ti_list in t_list %}
                                {% if forloop.counter0 == ti_valid_index_default %}
                                    {% for u in ti_list %}
                                        <option value="{{ u.userprofile.pk }}"{% if forloop.counter0 == ti_valid_index_default %}selected{% endif %}>{{ u.username }} ({{ u.first_name }} {{ u.last_name }})</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
{% endblock form_additional_post %}

{% block form_control %}
    <input type="submit" class="btn btn-primary" value="Share" />
{% endblock form_control %}


