{% load staticfiles %}

<!DOCTYPE html> 
<html> 
	<head> 
	<title>{% block title %}Tally{% endblock title %}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="{% static 'css/jquery.mobile-1.3.0.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mobile-1.3.0.min.js' %}"></script>
    {% block head %}
    {% endblock head %}
</head> 

<body> 

<div {% block page_id %}{% endblock page_id %} data-role="page">

	<div data-role="header">
        <h1>{% block header %}Default header{% endblock header %}</h1>
        {% block controls %}{% endblock controls %}
	</div>

    <div data-role="content" data-theme="c">
        {% block content %}
            <p>Default content</p>
        {% endblock content %}
    </div>

</div>

</body>
</html>
